@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(34, 40, 49, 255);
}
.mainContainer {
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 3% 3.5% 3% 3%;
  align-items: center;
  color: white;
}
.navItems {
  display: flex;
  gap: 2vw;
  color: white;
}
.navItem {
  color: white;
  font-size: 20px;
  -webkit-text-stroke: 1px;
  padding: 4px 12px;
}

.navItem:hover {
  border-bottom: 2px solid green;
  padding-top: 2px;
}
.menuBurger {
  display: none;
  cursor: pointer;
  color: black;
}

.menuLine {
  background-color: white;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo > img {
}
.logo > h2 {
  font-size: 26px;
}

.landingPage {
  color: white;
  padding: 1% 3.5%;
  background-image: url(../images/mask_6.png),
    url(../images/vector_smart_object_doubl_31.png),
    url(../images/vector_smart_object_doubl_36.png),
    url(../images/vector_smart_object_doubl_44.png);
  background-repeat: no-repeat;
  background-position: right 0rem top 0.5rem, left 33rem bottom 23rem,
    left 43rem top 2rem, left 24rem bottom 13rem;
  background-size: 45rem 36rem, 3rem 3rem, 4rem 4rem, 5rem 5rem;
  position: relative;
  padding-bottom: 18%;
}

.landingPageHome {
  display: flex;
  flex-direction: column;
  gap: 3.4vh;
  width: 100%;
}

.landingPageTitle {
  font-family: "Grand Hotel";
  font-size: 129px;
  font-weight: lighter;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.landingPageHeadLine {
  font-size: 28px;
  letter-spacing: 4px;
}
.landingPageDescription {
  width: 37%;
  line-height: 1.5;
  font-size: 14px;
}

.mobileLandingPageImage {
  display: none;
}

.mobileLandingPageImage > img {
  width: 100%;
}
.orderNow {
  padding: 1% 3%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(41, 161, 156, 255);
}

.orderNow:hover{
  background-color: white;
  color: rgba(41, 161, 156, 255);
}

.landingBottomImage {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
}

.landingBottomImage > img {
  width: 100%;
}

.bottomMouseImage {
  position: absolute;
  top: 1;
  bottom: 3%;
  /* left: 2%; */
  right: 82%;
}

.blackCoffeesContainer {
  background-color: rgba(41, 161, 156, 255);
  padding: 5% 9%;
  position: relative;
  background-image: url(../images/vector_smart_object_doubl_31.png),
    url(../images/vector_smart_object_doubl_36.png),
    url(../images/vector_smart_object_doubl_44.png),
    url(../images/vector_smart_object_doubl_31.png),
    url(../images/vector_smart_object_doubl_32.png);
  background-repeat: no-repeat;
  background-position: left 33rem bottom 37rem, left 70rem top 1rem,
    left 32rem bottom 16rem, right 4rem bottom 14rem, left 11rem bottom 7rem;
  background-size: 3rem 3rem, 5rem 5rem, 6rem 6rem, 4rem 4rem;
  padding-bottom: 0;
}

.blackCoffee {
  display: flex;
  justify-content: space-between;
}

.blackCoffeeLeftContainer {
  width: 31%;
  padding-top: 6%;
}

.blackCoffeesHeading {
  font-family: "Grand Hotel";
  font-size: 118px;
  font-weight: lighter;
  letter-spacing: 5px;
  word-spacing: 3px;
  color: white;
  line-height: 105px;
}

.blackCoffeeRightContainerMobile {
  display: none;
}
.blackCoffeeBtn {
  padding-top: 26%;
}

.blackCoffeeButton {
  padding: 2.5% 9.2%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(34, 40, 49, 255);
}


.blackCoffeeButton:hover{
  color: rgba(41, 161, 156, 255);
  
}
.blackCoffeeRightContainer {
  width: 53%;
}

.blackCoffeeImage {
  width: 80%;
  margin-left: auto;
}

.blackCoffeeImage > img {
  width: 100%;
}

.blackCoffeeDescription {
  padding-top: 7%;
  text-align: right;
  color: white;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
}

.hotCoffees {
  background-color: rgba(34, 40, 49, 255);
  padding: 5% 9%;
  background-image: url(../images/vector_smart_object_doubl_8.png),
    url(../images/vector_smart_object_doubl_4.png),
    url(../images/vector_smart_object_doubl_38.png),
    url(../images/vector_smart_object_doubl_20.png),
    url(../images/vector_smart_object_doubl_7.png);
  background-repeat: no-repeat;
  background-position: top -8rem left -3rem, top 11rem left 2rem,
    top 28rem left 75rem, top 36rem left 48rem, top 12rem left 43rem;
  padding-top: 8%;
  position: relative;
}

.hotcoffeesAbsolute {
  display: none;
  width: 100%;
}

.hotcoffeesAbsolute > img {
  width: 100%;
}

.hotblackCoffeeRightContainerMobile {
  display: none;
}
.hotblackCoffee {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.hotblackCoffeeLeftContainer {
  width: 31%;
  padding-top: 10%;
}

.hotblackCoffeesHeading {
  font-family: "Grand Hotel";
  font-size: 118px;
  font-weight: lighter;
  letter-spacing: 5px;
  word-spacing: 3px;
  color: white;
  line-height: 105px;
  text-align: right;
  padding-top: 7%;
}

.hotblackCoffeeBtn {
  padding-top: 26%;
  display: flex;
  justify-content: end;
}

.hotblackCoffeeButton {
  padding: 2.5% 9.2%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(41, 161, 156, 255);
}


.hotblackCoffeeButton:hover{
  color:rgba(34, 40, 49, 255);
}


.hotblackCoffeeRightContainer {
  width: 53%;
}

.hotblackCoffeeImage {
  width: 80%;
}

.hotblackCoffeeImage > img {
  width: 100%;
}

.hotblackCoffeeDescription {
  padding-top: 7%;
  text-align: right;
  color: white;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
  text-align: left;
}

.whiteCoffeesContainer {
  /* background-color: rgba(41, 161, 156, 255); */
  padding: 5% 9%;
  position: relative;
  background-image: url(../images/vector_smart_object_doubl_13.png),
    url(../images/vector_smart_object_doubl_13.png),
    url(../images/vector_smart_object_doubl_16.png),
    url(../images/vector_smart_object_doubl_17.png);
  background-repeat: no-repeat;
  background-position: left 16rem bottom 39rem, left 37rem top 18rem,
    left 73rem bottom 28rem, right 64rem bottom 0rem;
  background-size: 3rem 3rem, 3rem 3rem, 5rem 5rem, 5rem 5rem;
  padding-bottom: 0;
}

.whiteCoffee {
  display: flex;
  justify-content: space-between;
}

.whiteCoffeeLeftContainer {
  width: 31%;
  padding-top: 6%;
}

.whiteCoffeesHeading {
  font-family: "Grand Hotel";
  font-size: 118px;
  font-weight: lighter;
  letter-spacing: 5px;
  word-spacing: 3px;
  color: white;
  line-height: 105px;
}

.whiteCoffeeBtn {
  padding-top: 26%;
}

.whiteCoffeeButton {
  padding: 2.5% 9.2%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(41, 161, 156, 255);
}

.whiteCoffeeButton:hover{
  color:rgba(34, 40, 49, 255);

}

.whiteCoffeeRightContainer {
  width: 53%;
}

.whiteCoffeeImage {
  width: 80%;
  margin-left: auto;
}

.whiteCoffeeImage > img {
  width: 100%;
}

.whiteCoffeeDescription {
  padding-top: 7%;
  text-align: right;
  color: white;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
}

.whiteCoffeeRightContainerMobile {
  display: none;
}

.voucher {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/vector_smart_object_doubl_32.png),
    url(../images/vector_smart_object_doubl_19.png),
    url(../images/vector_smart_object_doubl_20.png);
  background-repeat: no-repeat;
  background-position: top 8rem left 69rem, top 26rem left 6rem,
    top 33rem left 69rem;
}
.voucherHeading {
  font-family: "Grand Hotel";
  font-size: 118px;
  color: white;
  font-weight: lighter;
}

.getVoucher {
  width: 100%;
  display: flex;
  justify-content: center;
}

.voucherBtn {
  padding: 0.5% 2.2%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(41, 161, 156, 255);
}

.voucherBtn:hover{
  color:rgba(34, 40, 49, 255);

}

.reviews {
  padding: 5% 9%;
  position: relative;
  padding-bottom: 18%;
  background-image: url(../images/vector_smart_object_doubl_25.png),
    url(../images/vector_smart_object_doubl_31.png),
    url(../images/vector_smart_object_doubl_24.png);
  background-repeat: no-repeat;
  background-position: top 28rem left 2rem, top 15rem left 39rem,
    top 32rem left 71rem;
}
.reviewHeading {
  font-family: "Grand Hotel";
  text-align: center;
  font-size: 80px;
  font-weight: lighter;
  color: white;
}
.customerReviews {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.reviewBottomWave {
  position: absolute;
  bottom: -1%;
  left: 0;
}
.reviewBottomWave > img {
  width: 100%;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
  align-items: center;
}
.customerImageContainer {
}
.customerName {
  font-family: "Grand Hotel";
  font-size: 48px;
  font-weight: 300;
}
.customerReview {
  width: 74%;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.schedualContainer {
  background-color: rgba(41, 161, 156, 255);
  position: relative;
  background-image: url(../images/vector_smart_object_doubl_13.png),
    url(../images/vector_smart_object_doubl_5.png),
    url(../images/vector_smart_object_doubl_19.png),
    url(../images/vector_smart_object_doubl_33.png);
  background-repeat: no-repeat;
  background-position: left 6rem top 1rem, left 66rem top 2rem,
    left 16rem top 12rem, left 66rem top 15rem;

  /* padding-bottom: 10%; */
}
.schedual {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.schedualHeading {
  font-family: "Grand Hotel";
  font-size: 80px;
  font-weight: lighter;
}

.day {
  font-size: 30px;
}
.timing {
  font-size: 27px;
}

.scheduleBottom {
  position: absolute;
  width: 100%;
  bottom: -76%;
  left: 0;
}
.scheduleBottom > img {
  width: 100%;
}

.branches {
  background-image: url(../images/vector_smart_object_doubl_8.png),
    url(../images/vector_smart_object_doubl_45.png),
    url(../images/vector_smart_object_doubl_32.png),
    url(../images/vector_smart_object_doubl_5.png),
    url(../images/vector_smart_object_doubl_4.png);
  background-repeat: no-repeat;
  background-position: top -6rem left 0rem, top 10rem left 14rem,
    top 15rem left 74rem, top 45rem left 24rem, top 49rem left 52rem;
  padding-bottom: 10%;
  position: relative;
}

.branchesWaveUp{
  display: none;
}

.branchesHeading {
  font-family: "Grand Hotel";
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.brachesContainer {
  padding-top: 14%;
}

.branchesCards {
  padding: 3% 7% 3% 7%;
  display: flex;
  justify-content: space-between;
}

.branchcard {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  transition: all 0.45s ease-in-out;
}

/* .branchcard:hover img{
  transform: scale(1.25) rotate(2deg);
} */

.branchcard:hover{
  transform: translateY(-20px);
}
.branchImage {
  width: 100%;
  overflow: hidden;
}

.branchImage > img {
  width: 100%;
}

.branchTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.branchBtn {
  padding: 2.5% 9.2%;
  font-size: 27px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: rgba(41, 161, 156, 255);
  width: 88%;
  position: relative;
}

.curve{
  position: absolute;
  bottom: -32%;
  left: 0;
  height: 41px;
  width: 20px;
  background-color: rgba(41, 161, 156, 255);
  border-radius: 0px 8px 2px 27px;
  
}
.branchDescription {
  text-align: center;
  color: white;
  width: 143%;
  line-height: 1.8;
  font-size: 16px;
}

.branchesFooter {
  position: absolute;
  bottom: -8%;
  left: 0;
  width: 100%;
}

.branchesFooter > img {
  width: 100%;
}

.footer {
  padding: 7% 7% 3% 7%;
  background-color: rgba(41, 161, 156, 255);
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}

.Footerlogo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 26px;
}

.footerLinks {
  display: flex;
  width: 44%;
  justify-content: space-between;
  color: white;
}

.sectionHeading {
  padding-bottom: 24%;
  font-size: 32px;
}

.footerLinks p {
  padding-bottom: 3%;
  font-size: 21px;
  cursor: pointer;
}

.footerBar {
  display: flex;
  justify-content: space-between;
  padding-top: 8%;
}

.footerBarIcons {
  display: flex;
  align-items: center;
  width: 19%;
  gap: 19%;
  cursor: pointer;
}

.footerBarItems {
  display: flex;
  gap: 7%;
}
.footerItem {
  color: white;
  font-size: 18px;
  -webkit-text-stroke: 1px;
  padding: 4px 12px;
}
@media (min-width: 320px) and (max-width: 435px) {
  .navBar {
    padding: 3% 3%;
  }

  .menuBurger {
    display: block;
  }

  .menuBurger.active .menuLine:nth-child(2) {
    opacity: 0;
  }
  .menuBurger.active .menuLine:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menuBurger.active .menuLine:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navItems.active {
    left: 0%;
    z-index: 2;
    background-color: rgba(34, 40, 49, 255);

    color: white;
    transition: all 0.45s;
  }

  .menuLine {
  }

  .logo {
  }
  .navItems {
    position: fixed;
    flex-direction: column;
    width: 100%;
    left: -100%;
    top: 6%;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    transition: all 0.3s;
  }
  .logo > img {
    height: 30px;
  }
  .logo > h2 {
    font-size: 20px;
  }

  .navItem:hover {
    /* all: inherit; */
  }

  .landingPage {
    background: none;
  }
  .landingPageHome {
    gap: 2vh;
    align-items: center;
  }

  .landingPageTitle {
    font-size: 60px;
    text-align: center;
  }

  .landingPageHeadLine {
    font-size: 20px;
    text-align: center;
  }
  .mobileLandingPageImage {
    display: block;
    width: 75%;
    margin: auto;
  }

  .mobileLandingPageImage > img {
    width: 100%;
  }
  .landingPageDescription {
    width: 100%;
    text-align: justify;
  }
  .orderBtn {
    width: 41%;
  }

  .orderNow {
    font-size: 18px;
    padding: 4% 18%;
  }
  .landingBottomImage {
  }

  .bottomMouseImage {
    display: none;
  }

  .blackCoffeesContainer {
    background-image: none;
  }

  .blackCoffee {
    flex-direction: column;
    padding-bottom: 6%;
  }

  .blackCoffeeLeftContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blackCoffeesHeading {
    font-size: 4.2em;
    display: inline;
    line-height: 1;
  }

  .blackCoffeeBtn {
    width: 54%;
    margin: auto;
    padding-top: 4vh;
  }

  .blackCoffeeButton {
    font-size: 18px;
    padding: 5% 22%;
  }
  .blackCoffeeRightContainerMobile {
    display: block;
  }

  .blackCoffeeRightContainer {
    display: none;
  }

  .blackCoffeeImage {
    width: 100%;
    padding-top: 10%;
  }

  .blackCoffeeDescription {
    text-align: justify;
  }
  .hotblackCoffee {
    flex-direction: column;
    padding-top: 17%;
  }

  .hotblackCoffeesHeading {
    font-size: 4.4em;
    display: inline;
    line-height: 1;
    padding-top: 0;
  }

  .hotCoffees {
    background-image: none;
  }
  .hotblackCoffeeRightContainer {
    display: none;
  }

  .hotblackCoffeeRightContainerMobile {
    display: block;
  }

  .hotcoffeesAbsolute {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: -1%;
  }

  .hotblackCoffeeLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .hotblackCoffeeImage {
    width: 100%;
    padding-top: 10%;
  }

  .hotblackCoffeeDescription {
    text-align: justify;
  }

  .hotblackCoffeeBtn {
    padding-top: 4vh;
    width: 54%;
    margin: auto;
  }

  .hotblackCoffeeButton {
    font-size: 18px;
    padding: 5% 22%;
  }

  .whiteCoffeeRightContainer {
    display: none;
  }
  .whiteCoffeeRightContainerMobile {
    display: block;
  }

  .whiteCoffeeLeftContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
  }

  .whiteCoffeesHeading{
    font-size: 4em;
    line-height: 1;
  }

  .whiteCoffeeImage{
    width: 100%;
    padding-top: 10%;
  }
  .whiteCoffeeDescription{
    text-align: justify;
  }

  .whiteCoffeeBtn{
    padding-top: 4vh;
    width: 54%;
    margin: auto;
  }

  .whiteCoffeeButton{
    font-size: 18px;
    padding: 5% 22%;
  }

  .voucher{
    padding-top: 10%;
    gap: 2vh;
  }

  .voucherHeading{
    font-size: 5em;
  }

  .voucherImage{
    width: 100%;
  }

  .voucherImage > img {
    width: 100%;
  }

  .voucherBtn{
    font-size: 18px;
    padding: 2% 4%;
  }

  .reviews{
    background-image: none;
    padding-top: 20%;
  }
  .reviewHeading{
    font-size: 4em;
    width: 100%;
  }

  .customerReviews{
    flex-direction: column;
    gap: 7vh;
  }

  .reviewCard{
    width: 80%;
    gap: 3vh;
  }

  .customerImageContainer{
    width: 100%;
  }

  .customerImageContainer > img {
    width: 100%;
  }

  .customerReview{
    width: 100%;
    text-align: justify;
  }

  .schedualContainer{
    background-image: none;
    padding-bottom: 10%;
  }

  .schedual{
    gap: 3vh;
  }

  .schedualHeading{
    font-size: 5em;
  }

  .day{
    font-size: 2em;
  }

  .timing{
    font-size: 1.5em;
  }

  .branches{
    background-image: none;
  }

  .branchesWaveUp{
    display: block;
    position: absolute;
    width: 100%;
    top: -1%;
    left: 0;
  }

  .branchesWaveUp > img {
    width: 100%;
  }

  .brachesContainer{
    padding-top: 20%;
  }

  .branchesHeading{
    font-size: 4em;
  }

  .branchesCards{
    flex-direction: column;
  }

  .branchcard{
    width: 100%;
    padding-bottom: 10%;
  }

  .branchDescription{
    width: 100%;
    text-align: justify;
  }

  .branchesFooter {
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
}

.footerContainer{
  flex-direction: column;
}

.footerLinks{
  width: 100%;
  padding-top: 10%;
}

.informationSection{
  width: 46%;
}

.footer{
  padding: 7% 7% 7% 7%;
}

.sectionHeading{
  font-size: 1.3em;
  padding-bottom: 13%;
}

.footerLinks p{
  padding-bottom: 3%;
  font-size: 15px;
}

.contactUsSection{
  width: 46%;
}

.footerBar{
  display: none;
}


}
